# SCSI_WD719X select CONFIG_EEPROM_93CX6 which to be removed
CONFIG_SCSI_WD719X=n
# MMC_TIFM_SD select CONFIG_TIFM_CORE which to be removed
CONFIG_MMC_TIFM_SD=n
# MMC_CB710 select CONFIG_CB710_CORE which to be removed
CONFIG_MMC_CB710=n

CONFIG_IBM_ASM=n
CONFIG_PHANTOM=n
CONFIG_TIFM_CORE=n
CONFIG_TIFM_7XX1=n
CONFIG_ICS932S401=n
CONFIG_ENCLOSURE_SERVICES=n
CONFIG_SGI_XP=n
CONFIG_HP_ILO=n
CONFIG_SGI_GRU=n
CONFIG_SGI_GRU_DEBUG=n
CONFIG_APDS9802ALS=n
CONFIG_ISL29003=n
CONFIG_ISL29020=n
CONFIG_SENSORS_TSL2550=n
CONFIG_SENSORS_BH1770=n
CONFIG_SENSORS_APDS990X=n
CONFIG_HMC6352=n
CONFIG_DS1682=n
CONFIG_VMWARE_BALLOON=n
CONFIG_LATTICE_ECP3_CONFIG=n
CONFIG_SRAM=n
CONFIG_DW_XDATA_PCIE=n
CONFIG_PCI_ENDPOINT_TEST=n
CONFIG_XILINX_SDFEC=n
CONFIG_MISC_RTSX=n
CONFIG_C2PORT=n
CONFIG_EEPROM_AT24=n
CONFIG_EEPROM_AT25=n
CONFIG_EEPROM_LEGACY=n
CONFIG_EEPROM_MAX6875=n
CONFIG_EEPROM_93CX6=n
CONFIG_EEPROM_93XX46=n
CONFIG_EEPROM_IDT_89HPESX=n
CONFIG_EEPROM_EE1004=n
CONFIG_CB710_CORE=n
CONFIG_CB710_DEBUG=n
CONFIG_CB710_DEBUG_ASSUMPTIONS=n
CONFIG_SENSORS_LIS3_I2C=n
CONFIG_ALTERA_STAPL=n
CONFIG_INTEL_MEI=n
CONFIG_INTEL_MEI_ME=n
CONFIG_INTEL_MEI_TXE=n
CONFIG_INTEL_MEI_GSC=n
CONFIG_INTEL_MEI_HDCP=n
CONFIG_INTEL_MEI_PXP=n
CONFIG_VMWARE_VMCI=n
CONFIG_GENWQE=n
CONFIG_ECHO=n
CONFIG_BCM_VK=n
CONFIG_MISC_ALCOR_PCI=n
CONFIG_MISC_RTSX_PCI=n
CONFIG_MISC_RTSX_USB=n
CONFIG_HABANA_AI=n
CONFIG_UACCE=n
CONFIG_PVPANIC=n
CONFIG_GP_PCI1XXXX=n
