CONFIG_PCCARD=n
CONFIG_MTD=n
CONFIG_PARPORT=n
CONFIG_TARGET_CORE=n
CONFIG_FUSION=n
CONFIG_FIREWIRE=n
CONFIG_FIREWIRE_NOSY=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_SPI=n
CONFIG_POWER_SUPPLY=y
CONFIG_HWMON=y
CONFIG_WATCHDOG=n
CONFIG_B44=n
CONFIG_SSB=n
CONFIG_BCMA=n
CONFIG_MFD_BD9571MWV=n
CONFIG_MFD_AXP20X_I2C=n
CONFIG_LPC_ICH=y
CONFIG_LPC_SCH=y
CONFIG_MFD_INTEL_LPSS_ACPI=y
CONFIG_MFD_INTEL_LPSS_PCI=y
CONFIG_MFD_VIPERBOARD=n
CONFIG_MFD_SM501=n
CONFIG_MFD_WL1273_CORE=n
CONFIG_MFD_VX855=n
CONFIG_UHID=n
CONFIG_USB_SUPPORT=y
CONFIG_MMC=y
CONFIG_SCSI_UFSHCD=n
CONFIG_MEMSTICK=n
CONFIG_INFINIBAND=n
CONFIG_RTC_CLASS=y
CONFIG_DMADEVICES=y
CONFIG_CNIC=n
CONFIG_UIO=n
CONFIG_VFIO=n
CONFIG_VIRT_DRIVERS=n
CONFIG_VHOST_MENU=n
CONFIG_STAGING=n
CONFIG_CHROME_PLATFORMS=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_SOUNDWIRE=n
CONFIG_IIO=n
CONFIG_NTB=n
CONFIG_LIBNVDIMM=n
