CONFIG_NET_CORE=y
CONFIG_BONDING=n
CONFIG_DUMMY=y
CONFIG_WIREGUARD=y
CONFIG_EQUALIZER=n
CONFIG_NET_FC=n
CONFIG_IFB=n
CONFIG_NET_TEAM=n
CONFIG_MACVLAN=y
CONFIG_MACVTAP=n
CONFIG_IPVLAN=y
CONFIG_IPVTAP=n
CONFIG_VXLAN=n
CONFIG_GENEVE=n
CONFIG_BAREUDP=n
CONFIG_GTP=n
CONFIG_AMT=n
CONFIG_MACSEC=n
CONFIG_NETCONSOLE=n
CONFIG_TUN=y
CONFIG_TAP=y
CONFIG_VETH=y
CONFIG_NLMON=n
CONFIG_NET_VRF=n
CONFIG_ATM_DRIVERS=n
CONFIG_PHYLIB=n
CONFIG_USB_NET_AX8817X=n
CONFIG_PSE_CONTROLLER=n
CONFIG_CAN_DEV=n
CONFIG_MDIO_DEVICE=n
CONFIG_PPP=y
CONFIG_PPPOE=y
CONFIG_PPP_BSDCOMP=n
CONFIG_PPP_DEFLATE=n
CONFIG_PPP_FILTER=n
CONFIG_PPP_MPPE=n
CONFIG_PPP_MULTILINK=n
CONFIG_PPPOATM=n
CONFIG_PPPOE=y
CONFIG_PPTP=n
CONFIG_PPPOL2TP=n
CONFIG_PPP_ASYNC=n
CONFIG_PPP_SYNC_TTY=n
CONFIG_SLIP=n
USB_NET_DRIVERS=y
CONFIG_WLAN=y
CONFIG_IEEE802154_DRIVERS=n
CONFIG_XEN_NETDEV_FRONTEND=n
CONFIG_XEN_NETDEV_BACKEND=n
CONFIG_VMXNET3=n
CONFIG_FUJITSU_ES=n
CONFIG_HYPERV_NET=y
CONFIG_NETDEVSIM=n
CONFIG_NET_FAILOVER=n
CONFIG_ISDN=n
