CONFIG_VLAN_8021Q=y
CONFIG_ACPI_PROCESSOR_AGGREGATOR=y
CONFIG_ACPI_THERMAL_REL=y
CONFIG_CRYPTO_AES_NI_INTEL=y
CONFIG_CRYPTO_USER_API_AEAD=y
CONFIG_CRYPTO_USER_API_SKCIPHER=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_BRIDGE=y
CONFIG_BRIDGE_NETFILTER=y
CONFIG_CRYPTO_CCM=y
CONFIG_CEC_CORE=y
CONFIG_CRYPTO_CHACHA20_X86_64=y
CONFIG_CONFIGFS_FS=y
CONFIG_SENSORS_CORETEMP=y
CONFIG_CRYPTO_CRC32C_INTEL=y
CONFIG_CRYPTO_CRC32_PCLMUL=y
CONFIG_CRC64=y
CONFIG_CRC64_ROCKSOFT=y
CONFIG_CRYPTO_CRC64_ROCKSOFT=y
CONFIG_CRYPTO_CRCT10DIF_PCLMUL=y
CONFIG_CRYPTO_CRYPTD=y
CONFIG_CRYPTO_SIMD=y
CONFIG_CRYPTO_CURVE25519_X86=y
CONFIG_CRYPTO_DES=y
CONFIG_BLK_DEV_DM=y
CONFIG_DRM_BUDDY=y
CONFIG_DRM_DISPLAY_HELPER=y
CONFIG_DRM_KMS_HELPER=y
CONFIG_EFI_VARS_PSTORE=y
CONFIG_EFIVAR_FS=y
CONFIG_EXT4_FS=y
CONFIG_FUSE_FS=y
CONFIG_GARP=y
CONFIG_CRYPTO_GHASH_CLMUL_NI_INTEL=y
CONFIG_HID_LENOVO=y
CONFIG_HID_LOGITECH=y
CONFIG_HID_LOGITECH_DJ=y
CONFIG_HID_LOGITECH_HIDPP=y
CONFIG_HID_MULTITOUCH=y
CONFIG_I2C_DESIGNWARE_CORE=y
CONFIG_I2C_DESIGNWARE_PLATFORM=y
CONFIG_I2C_HID_CORE=y
CONFIG_I2C_HID_ACPI=y
CONFIG_I2C_I801=y
CONFIG_I2C_SMBUS=y
CONFIG_INTEL_IDMA64=y
CONFIG_EDAC_IGEN6=y
CONFIG_INT340X_THERMAL=y
CONFIG_INT340X_THERMAL=y
CONFIG_INT340X_THERMAL=y
CONFIG_PERF_EVENTS_INTEL_CSTATE=y
CONFIG_MFD_INTEL_LPSS=y
CONFIG_MFD_INTEL_LPSS_PCI=y
CONFIG_INTEL_PMC_CORE=y
CONFIG_INTEL_POWERCLAMP=y
CONFIG_INTEL_RAPL_CORE=y
CONFIG_INTEL_RAPL=y
CONFIG_INTEL_SOC_DTS_IOSF_CORE=y
CONFIG_PERF_EVENTS_INTEL_UNCORE=y
CONFIG_IP6_NF_MANGLE=y
CONFIG_IP6_NF_RAW=y
CONFIG_IP6_NF_IPTABLES=y
CONFIG_NET_UDP_TUNNEL=y
CONFIG_IP_NF_FILTER=y
CONFIG_IP_NF_MANGLE=y
CONFIG_IP_NF_NAT=y
CONFIG_IP_NF_RAW=y
CONFIG_IP_NF_IPTABLES=y
CONFIG_IRQ_BYPASS_MANAGER=y
CONFIG_JBD2=y
CONFIG_INPUT_JOYDEV=y
CONFIG_KVM=y
CONFIG_KVM_INTEL=y
CONFIG_LG_LAPTOP=y
CONFIG_CRYPTO_LIB_ARC4=y
CONFIG_CRYPTO_LIB_CHACHA_GENERIC=y
CONFIG_CRYPTO_LIB_CHACHA20POLY1305=y
CONFIG_LIBCRC32C=y
CONFIG_CRYPTO_LIB_CURVE25519_GENERIC=y
CONFIG_CRYPTO_LIB_DES=y
CONFIG_LLC=y
CONFIG_BLK_DEV_LOOP=y
CONFIG_MAC_EMUMOUSEBTN=y
CONFIG_FS_MBCACHE=y
CONFIG_MEDIA_SUPPORT=y
CONFIG_CRYPTO_MD4=y
CONFIG_INTEL_MEI=y
CONFIG_INTEL_MEI_HDCP=y
CONFIG_INTEL_MEI_ME=y
CONFIG_MFD_CORE=y
CONFIG_MRP=y
CONFIG_NF_CONNTRACK=y
CONFIG_NF_CT_NETLINK=y
CONFIG_NF_DEFRAG_IPV4=y
CONFIG_NF_DEFRAG_IPV6=y
CONFIG_NF_NAT=y
CONFIG_NETFILTER_NETLINK=y
CONFIG_BLK_DEV_NVME=y
CONFIG_NVME_CORE=y
CONFIG_OVERLAY_FS=y
CONFIG_INPUT_PCSPKR=y
CONFIG_PINCTRL_INTEL=y
CONFIG_PINCTRL_TIGERLAKE=y
CONFIG_PKCS8_PRIVATE_KEY_PARSER=y
CONFIG_CRYPTO_POLY1305_X86_64=y
CONFIG_INT340X_THERMAL=y
CONFIG_INT340X_THERMAL=y
CONFIG_INT340X_THERMAL=y
CONFIG_PROC_THERMAL_MMIO_RAPL=y
CONFIG_INT340X_THERMAL=y
CONFIG_PERF_EVENTS_INTEL_RAPL=y
CONFIG_RC_CORE=y
CONFIG_SERIO_RAW=y
CONFIG_CRYPTO_SHA512_SSSE3=y
CONFIG_INPUT_SPARSEKMAP=y
CONFIG_STP=y
CONFIG_BLK_DEV_INTEGRITY_T10=y
CONFIG_DRM_TTM=y
CONFIG_NET_UDP_TUNNEL=y
CONFIG_USB_VIDEO_CLASS=y
CONFIG_ACPI_VIDEO=y
CONFIG_VIDEOBUF2_CORE=y
CONFIG_VIDEOBUF2_MEMOPS=y
CONFIG_VIDEOBUF2_V4L2=y
CONFIG_VIDEOBUF2_VMALLOC=y
CONFIG_VIDEO_DEV=y
CONFIG_WIREGUARD=y
CONFIG_ACPI_WMI=y
CONFIG_WMI_BMOF=y
CONFIG_X86_PKG_TEMP_THERMAL=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_XHCI_PCI=y
CONFIG_USB_XHCI_PCI_RENESAS=y
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=y
CONFIG_NETFILTER_XT_MATCH_COMMENT=y
CONFIG_NETFILTER_XT_CONNMARK=y
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=y
CONFIG_NETFILTER_XT_MARK=y
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=y
