CONFIG_BLK_DEV_NVME
CONFIG_BLK_DEV_NVME=y
CONFIG_NVME_MULTIPATH=y
CONFIG_NVME_VERBOSE_ERRORS=n
CONFIG_NVME_HWMON=y
CONFIG_NVME_FABRICS=n
CONFIG_NVME_FC=n
CONFIG_NVME_TCP=n
CONFIG_NVME_AUTH=n
CONFIG_NVME_TARGET=n
CONFIG_NVME_TARGET_PASSTHRU=y
CONFIG_NVME_TARGET_LOOP=n
CONFIG_NVME_TARGET_FC=n
CONFIG_NVME_TARGET_FCLOOP=n
CONFIG_NVME_TARGET_TCP=n
CONFIG_NVME_TARGET_AUTH=n
