# USB_NET_AX8817X select PHYLINK, PHYLINK select PHYLIB
CONFIG_USB_NET_AX8817X=n
# NET_DSA select PHYLINK, PHYLINK select PHYLIB
CONFIG_NET_DSA=n
# USB_LAN78XX select PHYLIB
CONFIG_USB_LAN78XX=n
# USB_NET_AX88179_178A select PHYLIB
CONFIG_USB_NET_AX88179_178A=n
# USB_NET_SMSC95XX select PHYLIB
CONFIG_USB_NET_SMSC95XX=n
CONFIG_PHYLIB=n

