CONFIG_X86_GOLDFISH=n
CONFIG_X86_AMD_PLATFORM_DEVICE=n
CONFIG_VHOST=n
CONFIG_XEN=n
CONFIG_KVM_GUEST=n
CONFIG_PVH=n
CONFIG_ACRN_GUEST=n
CONFIG_MAXSMP=n
CONFIG_NR_CPUS=8
CONFIG_X86_MCE_AMD=n
CONFIG_X86_MCE_INJECT=n
CONFIG_PERF_EVENTS_AMD_POWER=n
CONFIG_PERF_EVENTS_AMD_UNCORE=n
CONFIG_MICROCODE_AMD=n
CONFIG_X86_MSR=y
CONFIG_X86_CPUID=y
CONFIG_X86_5LEVEL=n
CONFIG_AMD_MEM_ENCRYPT=n
CONFIG_NUMA=y
CONFIG_AMD_NUMA=n
CONFIG_X86_64_ACPI_NUMA=y
CONFIG_NODES_SHIFT=1
CONFIG_X86_PMEM_LEGACY=n
CONFIG_LIVEPATCH=n
