CONFIG_SOUND=y
CONFIG_SND=y
CONFIG_SND_OSSEMUL=y
CONFIG_SND_MIXER_OSS=y
CONFIG_SND_PCM_OSS=y
CONFIG_SND_HRTIMER=y
CONFIG_SND_SEQUENCER=y
CONFIG_SND_SEQ_DUMMY=y
CONFIG_SND_SEQUENCER_OSS=y
CONFIG_SND_SEQ_HRTIMER_DEFAULT=y
CONFIG_SND_DRIVERS=n
CONFIG_SND_PCI=y
CONFIG_SND_AD1889=n
CONFIG_SND_ALS300=n
CONFIG_SND_ALS4000=n
CONFIG_SND_ALI5451=n
CONFIG_SND_ASIHPI=n
CONFIG_SND_ATIIXP=n
CONFIG_SND_ATIIXP_MODEM=n
CONFIG_SND_AU8810=n
CONFIG_SND_AU8820=n
CONFIG_SND_AU8830=n
CONFIG_SND_AZT3328=n
CONFIG_SND_BT87X=n
CONFIG_SND_CA0106=n
CONFIG_SND_CMIPCI=n
CONFIG_SND_OXYGEN_LIB=n
CONFIG_SND_OXYGEN=n
CONFIG_SND_CS4281=n
CONFIG_SND_CS46XX=n
CONFIG_SND_CS46XX_NEW_DSP=n
CONFIG_SND_CTXFI=n
CONFIG_SND_DARLA20=n
CONFIG_SND_GINA20=n
CONFIG_SND_LAYLA20=n
CONFIG_SND_DARLA24=n
CONFIG_SND_GINA24=n
CONFIG_SND_LAYLA24=n
CONFIG_SND_MONA=n
CONFIG_SND_MIA=n
CONFIG_SND_ECHO3G=n
CONFIG_SND_INDIGO=n
CONFIG_SND_INDIGOIO=n
CONFIG_SND_INDIGODJ=n
CONFIG_SND_INDIGOIOX=n
CONFIG_SND_INDIGODJX=n
CONFIG_SND_EMU10K1=n
CONFIG_SND_EMU10K1_SEQ=n
CONFIG_SND_EMU10K1X=n
CONFIG_SND_ENS1370=n
CONFIG_SND_ENS1371=n
CONFIG_SND_ES1938=n
CONFIG_SND_ES1968=n
CONFIG_SND_ES1968_INPUT=n
CONFIG_SND_ES1968_RADIO=n
CONFIG_SND_FM801=n
CONFIG_SND_FM801_TEA575X_BOOL=n
CONFIG_SND_HDSP=n
CONFIG_SND_HDSPM=n
CONFIG_SND_ICE1712=n
CONFIG_SND_ICE1724=n
CONFIG_SND_INTEL8X0=n
CONFIG_SND_INTEL8X0M=n
CONFIG_SND_KORG1212=n
CONFIG_SND_LOLA=n
CONFIG_SND_LX6464ES=n
CONFIG_SND_MAESTRO3=n
CONFIG_SND_MAESTRO3_INPUT=n
CONFIG_SND_MIXART=n
CONFIG_SND_NM256=n
CONFIG_SND_PCXHR=n
CONFIG_SND_RIPTIDE=n
CONFIG_SND_RME32=n
CONFIG_SND_RME96=n
CONFIG_SND_RME9652=n
CONFIG_SND_SONICVIBES=n
CONFIG_SND_TRIDENT=n
CONFIG_SND_VIA82XX=n
CONFIG_SND_VIA82XX_MODEM=n
CONFIG_SND_VIRTUOSO=n
CONFIG_SND_VX222=n
CONFIG_SND_YMFPCI=n
CONFIG_SND_HDA_INTEL=y
CONFIG_SND_HDA_HWDEP=y
CONFIG_SND_HDA_RECONFIG=y
CONFIG_SND_HDA_INPUT_BEEP=y
CONFIG_SND_HDA_INPUT_BEEP_MODE=0
CONFIG_SND_HDA_PATCH_LOADER=y
CONFIG_SND_HDA_CODEC_REALTEK=y
CONFIG_SND_HDA_CODEC_ANALOG=n
CONFIG_SND_HDA_CODEC_SIGMATEL=n
CONFIG_SND_HDA_CODEC_VIA=n
CONFIG_SND_HDA_CODEC_HDMI=y
CONFIG_SND_HDA_CODEC_CIRRUS=n
CONFIG_SND_HDA_CODEC_CONEXANT=n
CONFIG_SND_HDA_CODEC_CA0110=n
CONFIG_SND_HDA_CODEC_CA0132=n
CONFIG_SND_HDA_CODEC_CA0132_DSP=n
CONFIG_SND_HDA_CODEC_CMEDIA=n
CONFIG_SND_HDA_CODEC_SI3054=n
CONFIG_SND_USB=n
CONFIG_SND_FIREWIRE=n
CONFIG_SND_SOC=y
CONFIG_SND_SOC_AMD_ACP=n
CONFIG_SND_SOC_AMD_ACP3x=n
CONFIG_SND_SOC_AMD_RENOIR=n
CONFIG_SND_AMD_ACP_CONFIG=n
CONFIG_SND_I2S_HI6210_I2S=n
CONFIG_SND_SOC_INTEL_SST_TOPLEVEL=y
CONFIG_SND_SST_ATOM_HIFI2_PLATFORM_ACPI=n
CONFIG_SND_SOC_INTEL_SKL=y
CONFIG_SND_SOC_INTEL_APL=n
CONFIG_SND_SOC_INTEL_KBL=n
CONFIG_SND_SOC_INTEL_GLK=n
CONFIG_SND_SOC_INTEL_CNL=n
CONFIG_SND_SOC_INTEL_CFL=n
CONFIG_SND_SOC_INTEL_CML_H=n
CONFIG_SND_SOC_INTEL_CML_LP=n
CONFIG_SND_SOC_INTEL_SKYLAKE_HDAUDIO_CODEC=y
CONFIG_SND_SOC_INTEL_MACH=y
CONFIG_SND_SOC_INTEL_USER_FRIENDLY_LONG_NAMES=y
CONFIG_SND_SOC_INTEL_SKL_RT286_MACH=n
CONFIG_SND_SOC_INTEL_SKL_NAU88L25_SSM4567_MACH=n
CONFIG_SND_SOC_INTEL_SKL_NAU88L25_MAX98357A_MACH=n
CONFIG_SND_SOC_INTEL_SKL_HDA_DSP_GENERIC_MACH=y
CONFIG_SND_SOC_INTEL_SOF_RT5682_MACH=n
CONFIG_SND_SOC_SOF_TOPLEVEL=y
CONFIG_SND_SOC_SOF_PCI=y
CONFIG_SND_SOC_SOF_ACPI=y
CONFIG_SND_SOC_SOF_AMD_TOPLEVEL=n
CONFIG_SND_SOC_SOF_INTEL_TOPLEVEL=y
CONFIG_SND_SOC_SOF_BAYTRAIL=n
CONFIG_SND_SOC_SOF_BROADWELL=n
CONFIG_SND_SOC_SOF_MERRIFIELD=n
CONFIG_SND_SOC_SOF_SKYLAKE=n
CONFIG_SND_SOC_SOF_KABYLAKE=n
CONFIG_SND_SOC_SOF_APOLLOLAKE=n
CONFIG_SND_SOC_SOF_GEMINILAKE=n
CONFIG_SND_SOC_SOF_CANNONLAKE=n
CONFIG_SND_SOC_SOF_COFFEELAKE=n
CONFIG_SND_SOC_SOF_COMETLAKE=n
CONFIG_SND_SOC_SOF_ICELAKE=n
CONFIG_SND_SOC_SOF_JASPERLAKE=n
CONFIG_SND_SOC_SOF_TIGERLAKE=m
CONFIG_SND_SOC_SOF_ELKHARTLAKE=n
CONFIG_SND_SOC_SOF_ALDERLAKE=n
CONFIG_SND_SOC_SOF_METEORLAKE=n
CONFIG_SND_SOC_SOF_HDA_LINK=y
CONFIG_SND_SOC_SOF_HDA_AUDIO_CODEC=y
CONFIG_SND_SOC_SOF_INTEL_SOUNDWIRE=n

CONFIG_SND_SOC_AC97_CODEC=n
CONFIG_SND_SOC_ADAU_UTILS=n
CONFIG_SND_SOC_ADAU1372_I2C=n
CONFIG_SND_SOC_ADAU1372_SPI=n
CONFIG_SND_SOC_ADAU1701=n
CONFIG_SND_SOC_ADAU17X1=n
CONFIG_SND_SOC_ADAU1761=n
CONFIG_SND_SOC_ADAU1761_I2C=n
CONFIG_SND_SOC_ADAU1761_SPI=n
CONFIG_SND_SOC_ADAU7002=n
CONFIG_SND_SOC_ADAU7118_HW=n
CONFIG_SND_SOC_ADAU7118_I2C=n
CONFIG_SND_SOC_AK4104=n
CONFIG_SND_SOC_AK4118=n
CONFIG_SND_SOC_AK4375=n
CONFIG_SND_SOC_AK4458=n
CONFIG_SND_SOC_AK4554=n
CONFIG_SND_SOC_AK4613=n
CONFIG_SND_SOC_AK4642=n
CONFIG_SND_SOC_AK5386=n
CONFIG_SND_SOC_AK5558=n
CONFIG_SND_SOC_ALC5623=n
CONFIG_SND_SOC_AW8738=n
CONFIG_SND_SOC_BD28623=n
CONFIG_SND_SOC_BT_SCO=n
CONFIG_SND_SOC_CS35L32=n
CONFIG_SND_SOC_CS35L33=n
CONFIG_SND_SOC_CS35L34=n
CONFIG_SND_SOC_CS35L35=n
CONFIG_SND_SOC_CS35L36=n
CONFIG_SND_SOC_CS35L41_SPI=n
CONFIG_SND_SOC_CS35L41_I2C=n
CONFIG_SND_SOC_CS35L45_SPI=n
CONFIG_SND_SOC_CS35L45_I2C=n
CONFIG_SND_SOC_CS42L42_CORE=n
CONFIG_SND_SOC_CS42L42=n
CONFIG_SND_SOC_CS42L51_I2C=n
CONFIG_SND_SOC_CS42L52=n
CONFIG_SND_SOC_CS42L56=n
CONFIG_SND_SOC_CS42L73=n
CONFIG_SND_SOC_CS42L83=n
CONFIG_SND_SOC_CS4234=n
CONFIG_SND_SOC_CS4265=n
CONFIG_SND_SOC_CS4270=n
CONFIG_SND_SOC_CS4271_I2C=n
CONFIG_SND_SOC_CS4271_SPI=n
CONFIG_SND_SOC_CS42XX8_I2C=n
CONFIG_SND_SOC_CS43130=n
CONFIG_SND_SOC_CS4341=n
CONFIG_SND_SOC_CS4349=n
CONFIG_SND_SOC_CS53L30=n
CONFIG_SND_SOC_CX2072X=n
CONFIG_SND_SOC_DA7213=n
CONFIG_SND_SOC_DMIC=y
CONFIG_SND_SOC_ES7134=n
CONFIG_SND_SOC_ES7241=n
CONFIG_SND_SOC_ES8316=n
CONFIG_SND_SOC_ES8326=n
CONFIG_SND_SOC_ES8328=n
CONFIG_SND_SOC_ES8328_I2C=n
CONFIG_SND_SOC_ES8328_SPI=n
CONFIG_SND_SOC_GTM601=n
CONFIG_SND_SOC_HDAC_HDMI=y
CONFIG_SND_SOC_HDAC_HDA=y
CONFIG_SND_SOC_HDA=n
CONFIG_SND_SOC_ICS43432=n
CONFIG_SND_SOC_INNO_RK3036=n
CONFIG_SND_SOC_MAX98088=n
CONFIG_SND_SOC_MAX98357A=y
CONFIG_SND_SOC_MAX98504=n
CONFIG_SND_SOC_MAX9867=n
CONFIG_SND_SOC_MAX98927=n
CONFIG_SND_SOC_MAX98520=n
CONFIG_SND_SOC_MAX98373=n
CONFIG_SND_SOC_MAX98373_I2C=y
CONFIG_SND_SOC_MAX98373_SDW=n
CONFIG_SND_SOC_MAX98390=y
CONFIG_SND_SOC_MAX98396=n
CONFIG_SND_SOC_MAX9860=n
CONFIG_SND_SOC_MSM8916_WCD_DIGITAL=n
CONFIG_SND_SOC_PCM1681=n
CONFIG_SND_SOC_PCM1789=n
CONFIG_SND_SOC_PCM1789_I2C=n
CONFIG_SND_SOC_PCM179X_I2C=n
CONFIG_SND_SOC_PCM179X_SPI=n
CONFIG_SND_SOC_PCM186X=n
CONFIG_SND_SOC_PCM186X_I2C=n
CONFIG_SND_SOC_PCM186X_SPI=n
CONFIG_SND_SOC_PCM3060=n
CONFIG_SND_SOC_PCM3060_I2C=n
CONFIG_SND_SOC_PCM3060_SPI=n
CONFIG_SND_SOC_PCM3168A_I2C=n
CONFIG_SND_SOC_PCM3168A_SPI=n
CONFIG_SND_SOC_PCM5102A=n
CONFIG_SND_SOC_PCM512x_I2C=n
CONFIG_SND_SOC_PCM512x_SPI=n
CONFIG_SND_SOC_RK3328=n
CONFIG_SND_SOC_RL6231=n
CONFIG_SND_SOC_RT1308_SDW=n
CONFIG_SND_SOC_RT1316_SDW=n
CONFIG_SND_SOC_RT1318_SDW=n
CONFIG_SND_SOC_RT5616=n
CONFIG_SND_SOC_RT5631=n
CONFIG_SND_SOC_RT5640=n
CONFIG_SND_SOC_RT5659=n
CONFIG_SND_SOC_RT5682=n
CONFIG_SND_SOC_RT5682_SDW=n
CONFIG_SND_SOC_RT700=n
CONFIG_SND_SOC_RT700_SDW=n
CONFIG_SND_SOC_RT711=n
CONFIG_SND_SOC_RT711_SDW=n
CONFIG_SND_SOC_RT711_SDCA_SDW=n
CONFIG_SND_SOC_RT715=n
CONFIG_SND_SOC_RT715_SDW=n
CONFIG_SND_SOC_RT715_SDCA_SDW=n
CONFIG_SND_SOC_RT9120=n
CONFIG_SND_SOC_SGTL5000=n
CONFIG_SND_SOC_SIGMADSP=n
CONFIG_SND_SOC_SIGMADSP_REGMAP=n
CONFIG_SND_SOC_SIMPLE_AMPLIFIER=n
CONFIG_SND_SOC_SIMPLE_MUX=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_SND_SOC_SRC4XXX_I2C=n
CONFIG_SND_SOC_SSM2305=n
CONFIG_SND_SOC_SSM2518=n
CONFIG_SND_SOC_SSM2602_SPI=n
CONFIG_SND_SOC_SSM2602_I2C=n
CONFIG_SND_SOC_SSM4567=y
CONFIG_SND_SOC_STA32X=n
CONFIG_SND_SOC_STA350=n
CONFIG_SND_SOC_STI_SAS=n
CONFIG_SND_SOC_TAS2552=n
CONFIG_SND_SOC_TAS2562=n
CONFIG_SND_SOC_TAS2764=n
CONFIG_SND_SOC_TAS2770=n
CONFIG_SND_SOC_TAS2780=n
CONFIG_SND_SOC_TAS5086=n
CONFIG_SND_SOC_TAS571X=n
CONFIG_SND_SOC_TAS5720=n
CONFIG_SND_SOC_TAS5805M=n
CONFIG_SND_SOC_TAS6424=n
CONFIG_SND_SOC_TDA7419=n
CONFIG_SND_SOC_TFA9879=n
CONFIG_SND_SOC_TFA989X=n
CONFIG_SND_SOC_TLV320ADC3XXX=n
CONFIG_SND_SOC_TLV320AIC23_I2C=n
CONFIG_SND_SOC_TLV320AIC23_SPI=n
CONFIG_SND_SOC_TLV320AIC31XX=n
CONFIG_SND_SOC_TLV320AIC32X4=n
CONFIG_SND_SOC_TLV320AIC32X4_I2C=n
CONFIG_SND_SOC_TLV320AIC32X4_SPI=n
CONFIG_SND_SOC_TLV320AIC3X_I2C=n
CONFIG_SND_SOC_TLV320AIC3X_SPI=n
CONFIG_SND_SOC_TLV320ADCX140=n
CONFIG_SND_SOC_TS3A227E=n
CONFIG_SND_SOC_TSCS42XX=n
CONFIG_SND_SOC_TSCS454=n
CONFIG_SND_SOC_UDA1334=n
CONFIG_SND_SOC_WCD938X_SDW=n
CONFIG_SND_SOC_WM8510=n
CONFIG_SND_SOC_WM8523=n
CONFIG_SND_SOC_WM8524=n
CONFIG_SND_SOC_WM8580=n
CONFIG_SND_SOC_WM8711=n
CONFIG_SND_SOC_WM8728=n
CONFIG_SND_SOC_WM8731_I2C=n
CONFIG_SND_SOC_WM8731_SPI=n
CONFIG_SND_SOC_WM8737=n
CONFIG_SND_SOC_WM8741=n
CONFIG_SND_SOC_WM8750=n
CONFIG_SND_SOC_WM8753=n
CONFIG_SND_SOC_WM8770=n
CONFIG_SND_SOC_WM8776=n
CONFIG_SND_SOC_WM8782=n
CONFIG_SND_SOC_WM8804_I2C=n
CONFIG_SND_SOC_WM8804_SPI=n
CONFIG_SND_SOC_WM8903=n
CONFIG_SND_SOC_WM8904=n
CONFIG_SND_SOC_WM8940=n
CONFIG_SND_SOC_WM8960=n
CONFIG_SND_SOC_WM8962=n
CONFIG_SND_SOC_WM8974=n
CONFIG_SND_SOC_WM8978=n
CONFIG_SND_SOC_WM8985=n
CONFIG_SND_SOC_WSA881X=n
CONFIG_SND_SOC_WSA883X=n
CONFIG_SND_SOC_ZL38060=n
CONFIG_SND_SOC_MAX9759=n
CONFIG_SND_SOC_MT6351=n
CONFIG_SND_SOC_MT6358=n
CONFIG_SND_SOC_MT6660=n
CONFIG_SND_SOC_NAU8315=n
CONFIG_SND_SOC_NAU8540=n
CONFIG_SND_SOC_NAU8810=n
CONFIG_SND_SOC_NAU8821=n
CONFIG_SND_SOC_NAU8822=n
CONFIG_SND_SOC_NAU8824=n
CONFIG_SND_SOC_NAU8825=n
CONFIG_SND_SOC_TPA6130A2=n
CONFIG_SND_SOC_LPASS_WSA_MACRO=n
CONFIG_SND_SOC_LPASS_VA_MACRO=n
CONFIG_SND_SOC_LPASS_RX_MACRO=n
CONFIG_SND_SOC_LPASS_TX_MACRO=n
CONFIG_SND_SIMPLE_CARD=n
