CONFIG_CFG80211=m
CONFIG_CFG80211_DEBUGFS=n
CONFIG_MAC80211=m
CONFIG_WLAN_VENDOR_ATH=n
CONFIG_WLAN_VENDOR_BROADCOM=n
CONFIG_WLAN_VENDOR_INTEL=y
CONFIG_IPW2100=n
CONFIG_IPW2200=n
CONFIG_IWL4965=n
CONFIG_IWL3945=n
CONFIG_IWLWIFI=m
CONFIG_IWLDVM=n
CONFIG_IWLMVM=m
CONFIG_WLAN_VENDOR_INTERSIL=n
CONFIG_WLAN_VENDOR_MARVELL=n
CONFIG_WLAN_VENDOR_MEDIATEK=n
CONFIG_WLAN_VENDOR_MICROCHIP=n
CONFIG_WLAN_VENDOR_PURELIFI=n
CONFIG_WLAN_VENDOR_RALINK=n
CONFIG_WLAN_VENDOR_REALTEK=n
CONFIG_WLAN_VENDOR_RSI=n
CONFIG_WLAN_VENDOR_SILABS=n
CONFIG_WLAN_VENDOR_ST=n
CONFIG_WLAN_VENDOR_TI=n
CONFIG_WLAN_VENDOR_ZYDAS=n
CONFIG_WLAN_VENDOR_QUANTENNA=n
CONFIG_MAC80211_HWSIM=n
CONFIG_USB_NET_RNDIS_WLAN=n
CONFIG_VIRT_WIFI=n
